# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store

# Python cache
.pytest_cache/

# Models
voice/models/

# Hugging Face cache (if inside project)
.cache/